[2014-05-02 08:19] imprabhu opened #1 "Token not matched with the Google Authenticator app"
I have gone through your otplib it was really useful, thanks for such an amazing tutorials.

 i'm getting the qr-code successfully. but if i run the code it generating the TOKEN for every minute That's fine, But if i scan the code from the Google Authenticator App it generating different number. Actually So both the code are not same.

Thanks in advance.....

I want to know how to compare the Mobi

[2014-07-08 14:51] #1 closed, assigned to nobody

[2014-11-30 14:25] yeojz opened #2 "A better example - Low Priority"
Add a better example if possible...

[2015-01-16 15:47] #2 closed

[2015-01-28 00:13] yeojz commented on #2
Commit: d0ac9da2e6d00050fcca3efe3a582d92309ef245

[2016-06-24 13:08] arvindr21 opened #4 "Time Validity"
Hello @yeojz

Thanks for module.

I am presently using the `totp` scheme for generating OTPs, Wanted to know what is the validity of the OTP. As in how long the OTP will be valid. There are times when the SMS service is busy and take a few seconds longer. In that case the OTP from `totp` scheme is invalid and the user needs to generate a new one. So, is there a way I can increase this time out by

[2016-12-04 17:26] mycloudyhopes commented on #4
Hey, did you find a way to do it.. I too want to increase the validity

[2016-12-05 02:47] arvindr21 commented on #4
No I couldn't. Ended up using https://www.npmjs.com/package/speakeasy
module.

On Dec 4, 2016 22:56, "mycloudyhopes" <notifications@github.com> wrote:

Hey, did you find a way to do it.. I too want to increase the validity

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/yeojz/otplib/issues/4#issuecomment-264717355>, or

[2016-12-05 03:24] yeojz commented on #4
Totally missed this.

@mycloudyhopes
Currently the library does not expose the time interval.

Am a little stretched at work and couldn't give much attention here. I can probably set some time aside over the coming weekend to take a look at it.

Alternatively, you can also go with speakeasy which @arvindr21 suggested, which seems much more recent. Thanks @arvindr21

[2016-12-05 10:26] mycloudyhopes commented on #4
Thanks @arvindr21 & @yeojz
Your responses really helped me.

[2016-12-15 00:57] AmreeshTyagi commented on #4
@mycloudyhopes @arvindr21 @yeojz As far as I know, this library is very good & also provides time interval for totp (not sure about hotp). I am already using it.

If you look into the code of totp [https://github.com/yeojz/otplib/blob/master/src/classes/TOTP.js](url) , you can see step propery, which you can pass during initialization like
`var lib = require('otplib');`
`var totp = lib.totp;`
`tot

[2017-04-04 13:53] yeojz opened #5 "Roadmap to 4.0.0"
Well, it's been awhile. Time to do housekeeping.

-   Update all dependencies
-   Introduce Yarn
-   Break up classes to common libraries and classes
-   Example and documentation site
-   Check code coverage
-   Consider rollup

If any users have concerns, do comment. :)

Tracking
-   branch: https://github.com/yeojz/otplib/tree/feature/4.0.0
-   project: https://github.com/yeojz/otplib/projects/

[2017-04-04 13:57] yeojz commented on #4
@AmreeshTyagi @mycloudyhopes @arvindr21

Will be doing a clean up of this library + updating all outdated dependencies + refactoring. #5
Shall do a refresh of documentations as well since it seems to be lacking that even I myself missed it.
If there are any more concerns, let me know and I'll take note to include into documentations.

Thanks!

[2017-04-04 14:03] #4 closed

[2017-04-15 06:25] yeojz commented on #5
Released

[2017-04-15 06:25] #5 closed

[2017-07-24 18:08] scheler opened #7 "Unable to use with google authenticator"
Hello,

I am unable to use this library to generate OTP matching Google Authenticator. The python version https://github.com/pyotp/pyotp works fine though.

Here's an example:

     <script src="https://yeojz.github.io/otplib/lib/otplib_commons.js"></script>
     <script src="https://rawgit.com/yeojz/otplib/gh-pages/lib/otplib.js"></script>

      var secret = "AAAABBBBCCCCDDDD";
      var token =

[2017-07-25 02:16] yeojz commented on #7
@scheler

From the snippets, for the python version, you're using TOTP.  So the equivalent should be
[code]

For Google Authenticator, although it uses TOTP under the hood, there are additional requirements for the secret. As such, you have to encode the secret before using it.

i.e.
[code]

Let me know if that solves the problem.
Cheers.

[2017-07-26 00:13] scheler commented on #7
@yeojz thanks for the response. I tried the following but none of the tokens match what GA app generates.  Can you try this out and compare with what the GA mobile app generates, and see if the token matches for you?

     <html>
        <script src="https://yeojz.github.io/otplib/js/qrcode.min.js"></script>
        <script src="https://yeojz.github.io/otplib/lib/otplib_commons.js"></script>

[2017-07-26 16:03] yeojz commented on #7
@scheler Noted... I'll need to investigate this over the weekend. Thanks

[2017-07-29 05:44] yeojz commented on #7
@scheler

`v5.0.0` has been released. Should address your issue.

Sample code:

[code]

[2017-08-03 19:04] scheler commented on #7
@yeojz sorry I couldnt test this earlier.  I tried this now - it seems to work on the sample secrets you have but not the one that I have, which I cannot share here. One difference I noticed between the two secrets is that the base32 decoded value of each is of different type. In the example that you have the secret is actually ASCII text AAAABBBBCC (which is the base32 decoded value of the secret

[2017-08-04 09:34] olsio opened #10 "Currently not usable with create-react-native-app"
I was trying to use the library in a react-native app, created by the create-react-native-app script. The problem is that this will run the app in the expo.io container which does not expose the native crypto module causing **Unable to resolve module crypto**.

As far as I can see the otplib is already doing some magic to check if this runs in browser or node to switch out the randomBytes routine'

[2017-08-06 06:39] yeojz commented on #10
@olsio The current browser implementation is done via Webpack by aliasing it to the custom implementation. So for browsers, you'll actually use the distribution instead of the normal files.

I think there are 2 ways of doing on top of the current system:

- add another alias and build it for react-native
- add it as an option parameter instead of importing the crypto module directly, allowing you

[2017-08-06 07:47] olsio commented on #10
I looked into the problem some more and fount that this is not really a react-native problem but with expo.io. react-native allows you to link a native randomBytes implementation and monkey patch it in but expo only allows pure JS.

In general your library requires not many crypto routines all of which are available in JS only implementations except for randomBytes but randomBytes is only required

[2017-08-08 07:09] olsio commented on #10
@yeojz I have a PR that would allow the plugging of the implementation but it does not solve my issue. I was trying to check if crypto module is available by doing a require inside of a try catch but require is also not defined in expo which causes a crash.

I don't think there is a generic solution and making the implementation pluggable has no real benefit for your project as you already cover w

[2017-08-09 06:29] scheler commented on #7
@yeojz I am unable to obtain a test secret to share. I will have to debug this with the one I have.

I want to step through and compare result of each step against the python lib.  Where can I get unobfuscated versions of the following JS files:

    <script src="https://rawgit.com/yeojz/otplib/gh-pages/lib/otplib-commons.js"></script>
    <script src="https://rawgit.com/yeojz/otplib/gh-pages/lib/

[2017-08-13 11:38] yeojz commented on #7
@scheler the files above are all generated by webpack.

The source of those files are in this repository under the src folder.

[2017-08-13 11:44] yeojz commented on #10
@olsio Alright. Sure.

Let me know if things work well for you.
I don't mind putting a link over to your custom build or maybe a patch description in the README if it helps others as well.

I'll go ahead and close this thread for now. Cheers.

[2017-08-13 11:44] #10 closed

[2017-08-16 12:24] SunburnedGoose commented on #7
I used the latest from npm and I was not able to get the otplib to generate a token that matched google authenticator.

[2017-08-16 13:23] yeojz commented on #7
@SunburnedGoose

Mind if you try something?
- Install v4.0.6 and see if that works for you since I tweaked it to address the issue brought up by the OP.
- Ensure that your clocks on both devices are the same.

It is quite difficult for me to debug as RFC test cases are passing, and its working for the services I'm using, but it seems that there are still some token errors. If you are able to send

[2017-08-16 15:17] SunburnedGoose commented on #7
Will do. Btw, I tried the otp npm library and that worked immediately.
On Wed, Aug 16, 2017 at 8:23 AM Gerald Yeo <notifications@github.com> wrote:

[2017-08-16 20:37] SunburnedGoose commented on #7
My secret is 32 bytes.

[2017-08-18 06:46] kohatang commented on #7
I have same issue, when I updated to v5.0.0 from v4.0.6.

The service is [GitLab](https://gitlab.com/) and the secret is 32 bytes.

[2017-08-18 10:23] yeojz commented on #7
@SunburnedGoose @kohatang Noted. I'll try and replicate.

@kohatang Thanks for informing about the service!
Good that I have a service to debug against! That's very helpful!

[2017-08-19 10:33] yeojz commented on #7
@SunburnedGoose @kohatang @scheler
Narrowed down to the part where secret key being decoded as non-hex.

Do try out 5.1.1 and let me know if things are solved.

I tried it on my own GitLab account and things seems to be generating properly already.
Thanks

[2017-08-21 01:32] kohatang commented on #7
I tried v5.1.1, It is working.
Thanks!!

[2017-10-12 15:34] conorgil commented on #7
@yeojz I've been playing with otplib for about a day and was considering using it for a project because I love your documentation, you took the time to provider a browser version, and you seem pretty responsive to issues. Just wanted to let you know that I'm having the same issue with otplib generating incorrect codes compared to Google Authenticator, Authy, etc.

I've read through the suggestions

[2017-10-13 09:50] yeojz commented on #7
@conorgil Thanks for the examples. It'll help alot.

Going by the code for speakeasy, it will treat the secret as base32 and decode it.
Thus, for a 1:1 code to otplib, you would not need to encode again before passing to authenticator generate as it will already decode the secret by default. I'll update the docs so this is clearer.

As for the code mismatch issue, I'll need some time to delve into

[2017-10-13 16:16] conorgil commented on #7
@yeojz thanks for the quick reply!

Thus, for a 1:1 code to otplib, you would not need to encode again before passing to authenticator generate as it will already decode the secret by default. I'll update the docs so this is clearer.

That is what I had originally expected from the docs, so I don't think you need to update them. It did not work when I first tried to use the lib (perhaps because of

[2017-10-14 08:36] yeojz commented on #7
@conorgil I've prereleased it on npm.. you can install it via `npm install otplib@next`

[2017-10-15 21:14] conorgil commented on #7
@yeojz I checked out the master branch and there is a failing test. From commit `7fc4b4bbd6c43515d9e3339e8cddf3bfbec6b377`:

[code]

Also, I tried installing the next release for my test script and it still does not work as expected:

[code]

[2017-10-15 21:16] conorgil commented on #7
I ran the tests on branch `hotfix/code-gen` and the same tests fails also with problems comparing the epoch

[2017-10-17 16:28] yeojz commented on #7
@conorgil By any chance you're using node 8?

I couldn't reproduce the issue until I tested it out on node 8.. seems like there is some difference to `new Date().getTime()`. I'll dig more into it.

[2017-10-17 18:01] twofactorbuddy commented on #7
@yeojz thanks for your continued work on this. Yea, I'm using the latest version of Node. Sorry for not specifying that in my initial comment.

[code]

[2017-10-17 18:13] conorgil commented on #7
@yeojz thanks for your continued work on this. Yea, I'm using the latest version of Node. Sorry for not specifying that in my initial comment.

[code]

[2017-10-22 13:45] yeojz commented on #7
@conorgil

I've added the example you've given into the test suite under [issues.spec.js](https://github.com/yeojz/otplib/blob/master/packages/tests/issues.spec.js),
 with the token cross-checked with both `otp` and `speakeasy` libraries.

Since it's clearing the automated checks, I'm releasing the changes under v7.0.0.

[2017-12-22 05:49] shakram02 opened #20 "Tiny bug in site ( Clicking tab icon loads nothing )"
Thank you so much for your efforts, your library is straight forward and easy to use, I just noticed that when I clicked on the icon (not the text, so basically you're clicking the `span`) of the tab 'verify` , `Get Secret`, ...etc the panel appears empty (which should include the qr-code or whatever matches).

To fix that, I added the `data-tab-id` attribute to the span having the same value as t

[2017-12-25 15:11] #20 closed

[2018-02-13 19:48] cyclopentan opened #22 "5.2 RFC 6238 past time-step window support"
`The validation system should compare OTPs not only with
   the receiving timestamp but also the past timestamps that are within
   the transmission delay.`

Code may change while user is entering code. For this situation system check actual and past code. No need to wait for time-window change

Add parameter for it. Suggest to set it to 1 window by default

[2018-02-13 22:28] subversivo58 opened #23 "Inconsistense timer step"
I am testing locally and I noticed that the time of the step that by default should be 30 seconds is not always respected when verifying.

To illustrate I made a simple `setInterval()` to check the token every 1 second.

[code]

I could not understand why sometimes it indicates invalid after 5 seconds, others after, 19, 24 ... anyway I could not identify a pattern.

Test case: [CODEPEN](https://co

[2018-02-14 02:25] yeojz commented on #7
Closing this as no further issues are raised.
Thanks all!

[2018-02-14 02:25] #7 closed

[2018-02-14 02:28] yeojz commented on #22
Acknowledged.

[2018-02-14 02:34] yeojz commented on #23
Hi! The time window of 30 seconds is not based on the generation time but based on the system clock. So at every 30 seconds of a minute, it will expire.

Thus, if you generate at 13:00:00 hrs, you have 30s left,
but if you generate at 13:00:25 hrs, you effectively have 5s left till the code expires.

eg: https://codepen.io/anon/pen/Jpypyr

[2018-02-14 03:11] cyclopentan commented on #23
Connected to #22

[2018-02-14 04:37] subversivo58 commented on #23
Hmmm ... now I understand that time is based on the system clock and in case of using the version for the browser is based on the user's clock.

I do not want to pollute the issue since the answer brought clarification but does that mean that the browser version is not compatible with Google Authenticator?

I tried several times to scan the QRCode within Google Authenticator time but the token is

[2018-02-14 05:04] cyclopentan commented on #23
Checked it now, works ok with browser. QR code will contain link otpauth://totp/{NAME}?secret={SECRET} to be imported. Also you can use it directly by inserting as `href` to `<a>` tag. JS redirect not works in my case

Also never use browser to check validity. Only generation by `otplib` and sending to server(`otplib` don't needed to send) and checking in SERVER.
In another case it can be easily b

[2018-02-14 05:29] cyclopentan opened #24 "Add brute force prevention"
12 days = 12 * 24 * 60 * 60 seconds = 1 036 800 > 1 000 000.
1 try / sec will break code in 12 days, but really in 6 days(there is some math magic, believe me :) )
If TOTP is one factor it's fatal

Lets increase it to 20 years (10 really). If we limit speed to 1 try / 600 sec it will cause problem to user.
So first 50 attempts time waits
0   min x 10 tries
0,5 min x 10 tries
1   min x 10 tries
2

[2018-02-14 05:34] cyclopentan commented on #24
Good idea is to make it configurable to fit user's needs to balance between comfort and security

[2018-02-14 06:24] yeojz commented on #23
@subversivo58
Maybe this may help. I've checked on my phone. https://codepen.io/anon/pen/KQvReJ
Ensure your clocks on both devices (browser and google authenticator) are in sync.

thanks @cyclopentan. Agreed. In most cases, all checks should be done on server side.
The browser package was provided in the event that anyone would like to do something different, like given a token, check for validity

[2018-02-14 06:26] yeojz commented on #24
How would that fit into the library?
Do you mean to include a utility function?

[2018-02-14 06:28] yeojz commented on #22
With regards to this, I'll look into this over the weekend / holidays.
If you like to open a PR, that would be great too :)
Thanks!

[2018-02-14 06:33] cyclopentan commented on #24
Yes, suggest to include this functionality as utility. It's important, because connected with main part of library and hard to implement correctly by new to cryptography users.

This algorhytm isn't a part of TOTP RFC, it's self-engeneered. So if you found RFC or anothef standard it will be better to implement standard

[2018-02-14 06:51] cyclopentan commented on #22
I tried to hotfix it, but got stuck with build. There is no `run` item, if i create folder it causes error `run is a folder`. Also there is no `build` folder according to `.gitignore`, but i can create it.

Maybe you need to builder or i need more experience in team work :)
Also why you prefer `yarn` to `npm`, what advantages it have? Can `npm` be used instead of `yarn`?

[2018-02-14 07:10] cyclopentan commented on #24
See 7.3 RFC 4226
`Another option would be to implement a delay scheme to avoid a brute
   force attack.  After each failed attempt A, the authentication server
   would wait for an increased T*A number of seconds, e.g., say T = 5,
   then after 1 attempt, the server waits for 5 seconds, at the second
   failed attempt, it waits for 5*2 = 10 seconds, etc.`

And it's important to not zero timer on w

[2018-02-14 07:12] cyclopentan commented on #24
Time delay can be implemented by storing last time and fail count

[2018-02-14 08:24] subversivo58 commented on #23
Thanks @cyclopentan, @yeojz.
I usually go to the SpeakEasy library when I have to apply 2-factor authentication, but I'm just trying something different and so I went to this library.

I am studying a use case in a decentralized network using interconnected WebRTC channels and a database formulated in a blockchain implementation (using IndexedDB).

As the security of this case study is based on "t

[2018-02-14 09:03] subversivo58 commented on #23
I have not yet started testing as described at the end of the long comment above but I've been thinking:

Between 2 computers (not synchronized), computer A sends B to test its secret and the token, could also send its timestamp to refactor this difference between the clocks before B checks.

I'll go with #22 to see if a possible solution helps with this thinking.

Thank you for your help, I belie

[2018-02-14 09:30] cyclopentan commented on #23
Sorry for offtop

@subversivo58 your project sounds interesting can you provide a link?

HOTP is based on hash function and is symmetric. If you can check token, you can generate it

In case when browser checks user identy by one-time-password(OTP) locally it can be cracked by reading localStorage

You can read more about assymetric cryptography, but remember about brute force :)

Good luck!

[2018-02-14 09:57] subversivo58 commented on #23
Thanks @cyclopentan.

Sorry I do not have a link yet, I'm developing locally to serve as a decentralized login system to use on a GitHub (Static) page where I'm setting up my personal blog.

I have not yet come up with a "usable" prototype I hope to publish soon.

I also ask for forgiveness for extending a comment outside the scope of this library.

[2018-02-14 18:44] conorgil commented on #24
Section 7.2 of RFC 4226 is titled "Throttling at the Server". I completely agree that the server should have a throttling scheme of **calling** the OTP library, but the OTP library itself is just a utility that performs the correct calculations given some input. IMO, the throttling makes the most sense to be implemented by the server outside of the library so that it can take into account throttli

[2018-02-14 19:02] cyclopentan commented on #24
@conorgil Secret key throttling is universal and reliable. Not matter, one key used by many users or many keys used by one. If TOTP connected to one secret key can be bruteforced its cracked

[2018-02-14 22:12] conorgil commented on #24
@cyclopentan I think we are all in agreement that preventing brute force attacks is a critical part of implementing HOTP and TOTP correctly as part of an authentication protocol. I am just having a difficult time understanding the argument to put the throttling logic into the OTP lib.

I just reread [RFC 4226 - HOTP: An HMAC-Based One-Time Password Algorithm](https://tools.ietf.org/html/rfc4226) a

[2018-02-15 03:18] cyclopentan commented on #24
@conorgil thank you for high quality discussion. I am impressed in how accurate you read RFC. You are example for ne to follow :)

As conclusion i agree, that brute force prevention isn't a part of HOTP and can be different in applications

Anyway i need to solve my problem with brute force. Do you know open source projects, that realize it? Or maybe i need to start own and write simple anti-brute

[2018-02-15 03:44] conorgil commented on #24
@cyclopentan Glad it was useful! I have dug deep into many things 2FA related while working on my browser based 2FA manager called [Two Factor Buddy (2FB)](https://www.twofactorbuddy.com) and content website [All Things Auth](https://www.allthingsauth.com/
) where I write about authentication and authorization issues. This comment thread was a really useful motivator for me to re-read most of the

[2018-02-15 04:25] yeojz commented on #22
@cyclopentan
Generally, there is no `run` since it's meant to be a library (and no UI or application associated with it)
The use-cases or implementation should be checked by running the `npm run test` or `npm run test:watch`.

Feel free to use `npm`.
`yarn` was preferred as this library existed before `package-lock.json` was introduced in `npm`. Thus, IMO, for package maintenance, it was better..

[2018-02-15 05:49] cyclopentan commented on #24
@conorgil I mean one-off authentication brute force, not secret key brute

Math explanation: When you try random token, probability of successful auth is `p = 1 / N` , where `N` is count of possible tokens. If token is 6-digit, `p = 10^-6`

`p = 1 / N` because there is two non-connected equiprobable random values with `N` possible values. They can make `N*N` pairs, that are also equiprobable. Succ

[2018-02-16 19:22] conorgil commented on #24
@cyclopentan I do not follow. Are you worried about someone brute forcing a single OTP for a given counter `C`, or are you worried about someone recording multiple OTPs in a row and using cryptanalysis to try to determine the original secret `K`?

If you haven't already, definitely check out Appendix A of the HOTP RFC "Appendix A - HOTP Algorithm Security: Detailed Analysis". It contains the mathe

[2018-02-16 19:38] cyclopentan commented on #24
@conorgil attack is easy: try random token 5 times per 30 second and after month you will pass auth with 40% probability

[2018-03-02 16:48] yeojz opened #29 "Switch CircleCI config from 1.0 to 2.0"
CircleCI is deprecating their 1.0 configurations.

https://circleci.com/sunset1-0/

[2018-03-02 16:48] yeojz opened #30 "Add prettier as formatter?"
Prettier with commit hooks would be great from a code style perspective.

[2018-03-02 16:51] yeojz opened #31 "Switch back from yarn?"
Npm now supports `package.lock`. And for this repo's use case, seems to suffice.

caveat: >npm5

[2018-03-02 16:53] yeojz commented on #23
@subversivo58 feel free to post your prototype here when you are ready. There may be some interested parties.

Closing this issue for now.

[2018-03-02 16:53] #23 closed

[2018-03-02 16:56] yeojz commented on #24
Closing this issue for now. Feel free to continue / open the discussion thread if you have any more thoughts! :)

[2018-03-02 16:56] #24 closed

[2018-03-03 08:36] #30 closed

[2018-03-03 13:18] #31 closed

[2018-03-29 09:00] yeojz commented on #22
released in v8.0.1

[2018-03-29 09:00] #22 closed

[2018-04-16 11:03] mthooyavan opened #43 "Unexpected token ="
I am getting the below error on adding otplib to my project through npm

/home/thooyavan/api/node_modules/otplib/hotp.js:21
  set options(opt = {}) {
                  ^

SyntaxError: Unexpected token =
    at exports.runInThisContext (vm.js:53:16)
    at Module._compile (module.js:374:25)
    at Module._extensions..js (module.js:417:10)
    at Object.require.extensions.(anonymous function) [as .j

[2018-04-17 02:40] mthooyavan commented on #43
Hi,

Sorry its fixed now after updating the node.

Thank you,
—————————————————————————————————
Thooyavan Manivaasakar,
Bangalore.

mail@thooyavan.me
(+91) 995-248-8880

CONFIDENTIALITY NOTICE: This e-mail message, including any attachments, is for the sole use of the intended recipient(s) and may contain confidential and privileged information. Any unauthorized review, use , disclosure or distrib

[2018-04-17 03:28] navigator117 opened #44 "How to use this lib in browser without native crypto functions?"
How to use this lib in browser without native crypto functions?

[2018-04-17 05:37] thEpisode opened #45 "How to generate a secret based on own data?"
Hi,

First, this library is awesome. I want to know how to create my own seed based on personal data, like an id of database or another info, I'm checking otplib.authenticator.generateSecret but their only has one parameter to generate with length. Exist any way?

[2018-04-17 06:33] navigator117 opened #46 "safari10 caught Cannot declare a let variable twice: 'n"
seem's cause by webpack uglify plugin

[2018-04-17 14:48] yeojz commented on #43
Cool. That's great!

[2018-04-17 14:48] #43 closed

[2018-04-17 14:52] yeojz commented on #45
@thEpisode you can just use your own function to generate your secret. As long as you pass the generated secret string to `Authenticator.utils.encodeKey(YOUR_GENERATED_SECRET_STRING)`, it should decode correctly.

[2018-04-17 14:55] yeojz commented on #44
If you're going to be using Webpack, Browserify or similar tools, instead of using `otplib-browser`, require the main `otplib`. Webpack and Browserify should handle packing a alternative to crypto.

[2018-04-17 15:00] yeojz commented on #46
Hmm.. I don't have any laptops with Safari 10 running, and I cannot verify this at the moment.
Safari 11 seems fine.

Probably will have to tweak `babel` to take that into account.

[2018-04-17 20:37] thEpisode commented on #45
Nice, thanks, has any lenght restriction? or I need to pass a hash?

[2018-04-18 02:46] navigator117 commented on #46
fixed by add below section to scripts/webpack.config.js
new UglifyJsPlugin({
            uglifyOptions: {
                safari10: true
            }
        })

[2018-04-18 02:46] #46 closed

[2018-04-18 02:47] #44 closed

[2018-04-18 07:57] thEpisode commented on #45
Authenticator.utils.encodeKey hasn't any length restrictions!! 👏👏👏👏

[2018-04-18 07:57] #45 closed

[2018-04-18 09:34] Spirit-act opened #47 "TypeError: otplib_1.otplib is undefined"
Hello,

I'm new in angular and run into this Error: TypeError: otplib_1.otplib is undefined

I have install the package
[code]
I have also tryed
[code]
---

I have it included with following code:
[code]

At this point "vs code" tells me that there is a definition file (*.d.ts) missing.

---

I try to use the Authenenticator class:
[code]

I have alseo tryed:
[code]

My major question is, what do

[2018-04-19 08:06] yeojz commented on #47
That's not really enough to go by.
More details would be helpful. eg: are you using babel, node version etc.

From an online repl, the library doesn't seem to have any issues.
try it out: https://repl.it/repls/GlitteringEmotionalUpgrades

[2018-04-19 11:08] Spirit-act commented on #47
Hi @yeojz,

### Details:

| module | verision |
| --- | --- |
| nodejs | v6.11.4 |
| angular cli | 1.6.5 |
| webpack | 3.10.0 |

---

### The Project
I have a login Component with a service and a module.

- The standard route, routs to "/dashboard".
- The auth.guard.ts looks for a specific variable if the variable is not set it routs to "/login".
- After you enter your credentials into the Login f

[2018-04-20 14:57] yeojz commented on #47
At a glance, I can't really conclude on the issue.. A suspicion is that the `import` statements ain't being compiled properly. Maybe you can try using `const otplib = require('otplib')` instead?

I'll need to dig futher over the weekend. I haven't really used the angular-cli tooling, so unsure what's provided out-of-the-box

[2018-04-20 19:02] miguelmota opened #48 "Out of sync"
I scanned the code on the demo page but verification fails when I enter the code from my Google Authenticator app.

The code displayed on the demo page (and what otplib is verifying against) is always 1 code before the current code on my phone.

Basically after the time expires, I get a new code on my phone but the code displayed on the demo page is the previous code that was displayed on my phone

[2018-04-20 19:27] miguelmota commented on #48
Ended up using the [speakeasy](https://github.com/speakeasyjs/speakeasy) module for 2FA which works a lot better.

[2018-04-21 01:07] yeojz commented on #48
The syncs are base on your clock. If there is a time difference the code will not validate. The examples are set to strict times with no grace periods.

[2018-04-21 02:57] miguelmota commented on #48
@yeojz thanks for clarifying!

[2018-04-21 02:57] #48 closed

[2018-04-22 08:40] yeojz commented on #47
@Spirit-act
I've tested it out with an angular-cli new project. It would seem that it is actually mainly `angular` and `typescript` that is causing issues, and not specific to the library. There are 2 issues when using with angular 4 / typescript.

1. crypto imports seems to be dropped
2. typescript transforms default `module.exports` into named exports.

A quick fix for this is instead of doing:

[2018-04-22 10:07] Spirit-act commented on #47
@yeojz

I will try your changes as soon as possible but the whole app is build in an company environment and in the next 3 weeks, I am not able to access this environment.

So sry for the delay.

[2018-05-14 09:25] Spirit-act commented on #47
@yeojz

Your answer was the solution. The QR Code works and the secret key generation works too.
I'm working on the verification right now.
Thx for your help.

[2018-05-14 09:25] #47 closed

[2018-06-15 02:43] thEpisode opened #67 "Why sometimes is invalid my token?"
Hi, this is an strange behavior because sometimes is invalid the code without any modification. I used check() and verify() functions for it.

How to reproduce:
1. Run next snippet some many times
[code]
Details:
* SO: Windows 10
* Node: v8.9.3
* Otplib: 9.0.0

[2018-06-15 02:44] thEpisode commented on #67
With a bit debugging I notice that hotpToken() function calculate systemToken wrong (inside hotpCheck function) and when is called otplibUtils.isSameToken(token, systemToken) obviously is different.

[2018-06-15 03:52] yeojz commented on #67
hi @thEpisode

I ran the snippet and could reproduce the issue. However it is not a bug.
Your issue came from a falling out of the time window.

In the above snippet, you're:

 1. Using a `5s` window
 1. generating a token
 1. waiting `1s` before checking the token

In Authenticator and TOTP which are time based,
any tokens generated within a 5s time window is the same.
So if you generate a token

[2018-06-15 05:16] thEpisode commented on #67
oh yes thanks, I need to read more about this window in this moment is not very clear for me, meanwhile could you guide me to know what is the right way to generate an OTP every 5 seconds?

[2018-06-15 06:45] yeojz commented on #67
The following is a sample terminal application.
You'll need to `npm install ora`

[code]

[2018-06-15 06:55] #29 closed

[2018-06-15 17:33] thEpisode commented on #67
Woah, wonderful, thanks

[2018-06-15 17:33] #67 closed

[2018-06-26 11:45] skhekare opened #88 "not able to build my app"
getting following error

ERROR in node_modules/otplib/index.d.ts(6,67): error TS2304: Cannot find name 'Buffer'.

[2018-06-26 13:04] yeojz commented on #88
@skhekare

You need to have the typedef for node as well.
If you haven't, do run `npm install @types/node`.

[2018-06-28 19:09] mattheuspirovani commented on #88
Same error...

[2018-07-19 14:54] apellizzn opened #96 "Token check is using parseFloat"
***Actual behavior***
If i call the function `verify` with a valid token it returns `true`

[code]
If i call the function `verify` with a valid token followed by any letter it returns `true`
[code]
If i call the function `verify` with a any letter followed by a valid token it returns `false`
[code]

**Expected behavior**
The expected behavior is to return `true` only in the first case

**Additiona

[2018-07-19 15:19] yeojz commented on #96
Hi @apellizzn

For tokens, traditionally it should be integers only.
I think it will be better if it returns false the moment a token is `NaN` instead.
What do you think?

Good catch nonetheless!

[2018-07-19 16:47] apellizzn commented on #96
Hi @yeojz i think that here the code should be just a mere string comparison, there are a lot of edge cases to test like what happens if i pass an octal `0o123.toString() === "83".toString()` :D
so probably i would implement it like this
[code]

[2018-07-22 16:51] yeojz commented on #96
fix released in v10.0.1

[2018-07-22 16:58] yeojz commented on #96
reopening issue. release pipeline error-ed out.

[2018-07-23 02:09] #96 closed

[2018-08-10 18:51] soldair opened #104 "thirty-two does not have a license. change to base32-encode/base32-decode"
**Is your feature request related to a problem? Please describe.**

thirty-two, the only dep of this package, doesn't have a license file in any version or a license field in package json. Because its not open source licensed i cant use this package =(

**Describe the solution you'd like**

i think that the recently updated and maintained base32-encode/base32-decode packages should be an adequate

[2018-08-10 18:52] soldair commented on #104
im investigating pr-ing this but it seems that thirty-two is exposed in some build config so its not as straight forward as just replacing the requires

[2018-08-10 20:35] #104 closed

[2018-08-10 20:35] soldair commented on #104
im wrong. it has a license its just not referenced in the package.json so my tool missed it

[2018-08-11 14:52] yeojz commented on #104
@soldair  Thanks for looking into this and bring up that issue. I'm glad the license issue is covered.

You've brought up a good point on alternatives though. Maybe it would do for the library to be agnostic towards this dependency as well. Thanks for the heads-up on `js-green-licenses`.

Cheers.
Gerald.

p.s. the entries in `build.config.js` is to configure `rollup` to treat it as an external dep

[2018-08-28 16:25] marcosgouvea commented on #88
@skhekare  @mattheuspirovani @yeojz  i changed the "Buffer" to "Any" and it worked

[2018-08-29 00:34] yeojz commented on #88
@marcosgouvea did you try `npm install @types/node`before that?

[2018-08-30 19:07] marcosgouvea opened #115 "otplib on ios with ionic"
Hello, i'm having an issue with this lib on my ionic3 project.
For Android it builds and works perfectly, but on IOS it crash the app right after the splash screen, the screen keeps white.

that my info

`import authenticator from 'otplib/authenticator';

authenticator.options = {
          algorithm: 'sha1',
          step: 60,
          digits: 6
};
var validationCode = authenticator.generate(th

[2018-08-31 03:07] yeojz commented on #115
Can you see where the syntax error is located?

It seems like a general error where `const` is not supported on that version of iOS and not just specific to the library.  Android works because `const` and `let` are probably supported.

Do you have any code transpiler in your build process?

[2018-08-31 15:38] aldocano29 commented on #10
I tried @olsio version for react native... it works well if the secret is a HEX of length 32. But if the length changes to 16, the token generated doesn't match the one generated by Google authenticator.

I really want to use this library for my project...

[2018-08-31 20:30] aldocano29 commented on #10
In the end I used Browserify and I could use the library... a bit messy but it works

[2018-09-02 04:16] yeojz commented on #115
@marcosgouvea what's your iOS version?

[2018-09-03 15:44] marcosgouvea commented on #115
the ipad im working have ios 9.3.5
and my computer is macOs high sierra 10.13.6

[2018-09-04 01:12] marcosgouvea commented on #115
i just tested in another devices, and in ios 11 it works

[2018-09-04 01:12] marcosgouvea commented on #88
yea that was the problem, whem i installed  @types/node everything worked.

[2018-09-04 13:13] yeojz commented on #115
@marcosgouvea
for ios 9.3.5, can you try installing the beta? i.e. `npm install otplib@next --save`

Thanks

[2018-09-04 13:18] yeojz commented on #88
Closing this issue as it's verified by marcosgouvea that library is working.

However, PR'ed to moved the instruction on how to use with typescript within the readme to it's own section to make it more prominent.

[2018-09-04 13:18] #88 closed

[2018-09-04 14:43] marcosgouvea commented on #115
Wow ! worked like a charm ! thank you so much

![whatsapp image 2018-09-04 at 11 42 03](https://user-images.githubusercontent.com/12238079/45038511-b9b2e900-b037-11e8-97f1-38faec2a5e7f.jpeg)

[2018-09-23 07:14] Slyke opened #121 "Verify and check do not return the same result"
**Describe the bug**
Verify and check do not return the same result

**To Reproduce**
Steps to reproduce the behavior:
https://runkit.com/embed/yr1jfma783bk
Or:
[code]

**Expected behavior**
Check and Verify should be the same, according to the documentation?

**Environment (please provide any relevant information):**
This happens on Linux and Windows, node version 10. Also reproducable on runkit

[2018-09-23 07:57] #121 closed

[2018-09-24 05:32] umapati opened #122 "how to use hotp verify"
since hotp requires a counter, i am not able to find the correct API to verify HOTP. can you share some working samples?

[2018-11-14 17:25] tobdub opened #126 "authenticator.keyuri does not uri encode user and service"
**Describe the bug**
keyuri should probably uri encode user and service to allow spaces etc, although this would be a breaking change. Or at least mention in the documentation that uri encoding is needed.

**To Reproduce**
otplib.authenticator.keyuri("{secret}", "acme co", "JBSWY3DPEHPK3PXP")

[2018-11-17 03:46] yeojz commented on #126
Thanks for the feedback @tobdub

Will add in to the documentation for the next minor release,
and have it encoded in the next major release.

[2019-01-20 13:15] sm2017 opened #136 "resetOptions and options.crypto"
**Describe the bug**
 we have "Expecting options.crypto to have a createHmac function" error , when we resetOptions

**To Reproduce**
run the code

[code]

**Expected behavior**
If you comment `otplib.totp.resetOptions();` we have no issue , but resetOptions don't reset truly an we have "Expecting options.crypto to have a createHmac function" error

**Environment (please provide any relevant infor

[2019-01-23 05:52] sm2017 commented on #136
@yeojz Can you reply please?

[2019-01-26 07:05] yeojz commented on #136
Beta build: `otplib@10.2.0-0`

[2019-01-31 09:57] androdel opened #144 "Not working in IE11"
**Describe the bug**
In IE 11, I get the following error:

'SCRIPT1006: Expected ')'
File: app.bundle.js, Line: 53467, Column: 30'

Which leads to this function:
`function hotpOptions(options = {}) {
  return Object.assign(
    {
      algorithm: 'sha1',
      createHmacSecret: hotpSecret,
      crypto: null,
      digits: 6,
      encoding: 'ascii'
    },
    options
  );
}`

**Expected behavior*

[2019-01-31 10:48] androdel commented on #144
Found it. For usage in browser you have to import otplib-browser instead.

Before:
import authenticator from "otplib/authenticator";

Now:
import otplib from "otplib/otplib-browser";
const { authenticator } = optlib;

[2019-01-31 10:48] #144 closed

[2019-02-12 05:05] matthewsuan opened #149 "Not working on expo.io react native app"
**Describe the bug**
Module crpyto not found when used in expo.io

**To Reproduce**
Steps to reproduce the behavior:
1. Install expo
2. expo init Project
3. Edit App.js and paste code below
[code]

[2019-02-13 06:27] yeojz commented on #149
hi @matthewsuan

It would seem like `expo.io` does not allow the use of `crypto`
ref: https://forums.expo.io/t/how-can-i-get-access-to-crypto-is-it-possible-to-use-rn-nodeify/2348

you'll need to provide a expo.io friendly crypto version.

eg:
[code]

[2019-02-13 08:56] matthewsuan commented on #149
thanks @yeojz

I also looked into crypto js and it seems there are functions over there I can use for this.

Just wondering though if you have tried using crypto js for this?

Ty

[2019-02-13 15:39] yeojz commented on #149
@matthewsuan
I have not worked on any expo.io projects and as such haven't personally tested it on the platform.

That said, I whipped up a sample replacement using `crypto-js`
https://github.com/yeojz/otplib/tree/feat-cryptojs-sample/packages/otplib-cryptojs

I have not tested it exhaustively, but it might be a possible solution.

[2019-02-14 13:22] matthewsuan commented on #149
thanks @yeojz i will look into it and will update this issue afterwards.

I appreciate your time on this.

[2019-02-15 13:06] slmarcos opened #151 "Token by time and number of times viewed"
Hello, how can I implement a valid token by time and number of times viewed?

Tnks

[2019-02-18 07:53] matthewsuan commented on #149
This is already fixed. the solution from @yeojz works great. Ty

[2019-02-18 07:53] #149 closed

[2019-03-09 09:06] yeojz commented on #122
[code]

[2019-03-09 09:07] #122 closed

[2019-03-09 09:07] yeojz commented on #151
Can you elaborate your scenario?

[2019-03-09 10:08] yeojz commented on #115
released in v10.2.2

[2019-03-09 10:08] #115 closed

[2019-03-09 10:08] yeojz commented on #136
released in v10.2.2

[2019-03-09 10:08] #136 closed

[2019-03-09 12:57] yeojz commented on #126
released in https://github.com/yeojz/otplib/releases/tag/v11.0.0

[2019-03-09 12:57] #126 closed

[2019-03-10 20:47] slmarcos commented on #151
I need to generate a token that has validity of X days for the user and if used within the stipulated period is invalidated after use.

[2019-03-12 06:07] yeojz commented on #151
You can use `step` option (https://github.com/yeojz/otplib#available-options) to set the number of days (in seconds) of validity.

As for invalidation after use, you'll need to implement that outside of the library.
For example, you could add it to a redis store on generation and removing it either on expiry or when it is used.

[2019-03-21 20:11] Bhargee opened #155 "Question: Why can't totp.check be used with tokens generated from a authenticator.generateSecret?"
What is different about those two algorithms? I thought Google authenticator implemented stock TOTP?

[2019-03-23 05:27] yeojz commented on #155
Ultimately, Google Authenticator is using TOTP at its core.
The differences comes in the form of expected inputs / configuration.

- Key encoding:
   - TOTP: `ascii`
   - Authenticator: `hex`

- Authenticator expects the hex key to be base32 encoded. No requirements for TOTP.

[2019-03-30 03:13] CheyenneForbes opened #156 "Who don't the classes accept the options object?"
Who don't the classes accept a options object?

Instead of
[code]
I'd like to do:
[code]

[2019-04-01 16:39] yeojz commented on #156
Yes. It could.

At the time of first writing, I didn't think it was necessary since I assumed most users would go with `otplib.totp.METHOD` and very rarely would instantiate a new class instance.

[2019-04-05 05:19] ricick opened #158 "window is not defined with mocha, jsdom, and enzyme"
**Describe the bug**
I'm having problems getting this library to work with mocha/enzyme tests.

It seems no matter what i do to try and set up jsdom to provide the window object before this library is imported I get `ReferenceError: window is not defined`

I'm following the guide here:
https://github.com/airbnb/enzyme/blob/master/docs/guides/jsdom.md

Any pointers would be appreciated.

**To Repro

[2019-04-05 17:05] yeojz commented on #158
@ricick
possible to have a demo repository or codesandbox?

Also, if you are using a bundler, you might want to do `import otplib from 'otplib'` instead.

[2019-04-05 19:39] ricick commented on #158
Hey. I got around it by using otplib and importing crypto myself. I assumed from the docs that I had to use the browser bundled version even though i'm using webpack etc.

[2019-04-05 19:39] #158 closed

[2019-04-06 12:54] osinakayah opened #159 "Can't include otplib via import"
Steps to reproduce the behavior:
1.import otplib from 'otplib'; console.log(otplib);//returns undefined
2.const otplib = require('otplib'); works fine

**Environment (please provide any relevant information):**
 - OS:  MacOSX
 - Node / Yarn: Yarn
 - Any frameworks: Express

[2019-04-07 06:14] yeojz commented on #159
@osinakayah can you try using:

[code]

[2019-04-27 16:26] aurbina83 opened #164 "Digits sometimes returning wrong length"
**Describe the bug**
A clear and concise description of what the bug is.
With
[code]
I will sometimes get back 5 digits in length of a code, suggesting that codes might be getting generated with a leading 0. `023432`

Whenever I verify 5 digit codes, they fail to verify.

**Environment (please provide any relevant information):**
 - OS: MacOS 12.14.4
 - Browser:
 - Node / Yarn: 11.13.0
 - Any fram

[2019-04-29 07:48] nshaikhinurov commented on #159
That worked for me

[2019-05-04 09:46] yeojz commented on #164
Hi @aurbina83

From the code, the values are actually converted to strings and left padded with 0.
Might it be possible that the values were converted to integers after generation?

If you have a sample code that you see the issue, it would help greatly with debugging.

Thanks!

[2019-05-09 15:35] aurbina83 commented on #164
You were right @yeojz, this can probably be closed!

[2019-05-09 15:35] #164 closed

[2019-05-21 13:46] Julien-Broyard opened #166 "Authenticator verify method don't work"
**Describe the bug**
After I've generated a QRCode with the secret generated by the authenticator encode method I use Google Authenticator to add it to my list. Everything works fine until here. But when I want to validate the token it is always invalid. I've tried a lot of things but now I don't know what to do next.

Here's my repo : https://github.com/FAGAL-Development/Phoenix

(The TFA part is

[2019-05-23 11:35] jojoob commented on #159
Just had the same issue after updating. `import otplib from 'otplib` worked with version 10.0.1. This is a breaking change between 10.0.1 and 10.2.2.

[2019-05-24 03:11] yeojz commented on #159
Acknowledged. I was under the impression that it was a major change.

Will backport a fix over the weekend.

[2019-05-24 03:35] yeojz commented on #166
Can you try going to: https://npm.runkit.com/otplib

Duplicate the following code there:

[code]

Scan into your app:
Scan this: http://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=otpauth://totp/demo:demo?secret=ORSXG5CAM5WWC2LMFZRW63I&issuer=demo&chld=H|0

The code above are the rough steps on what you did in your app.
Are you able to get code synced?

Something to check: The phone you're

[2019-05-24 10:26] Julien-Broyard commented on #166
I've done what you wanted me to do and it works. I'm able to verify the code.

[2019-05-24 14:35] yeojz commented on #166
@Julien-Broyard

- What does Logger.error show?  is there any error thrown in your `tfaVerify` method?
- what is the value of `req.body.token`? was it cast to an integer instead of string or space added etc?

[2019-05-24 14:49] Julien-Broyard commented on #166
![image](https://user-images.githubusercontent.com/35043096/58336264-b40a6700-7e43-11e9-9f70-3a9eb4ea7d3b.png)

I don't have any errors so Logger.error don't show anything.
And as you can see on the first two lines I've printed req.body.token and typeof req.body.token

[2019-05-27 14:19] yeojz commented on #159
fix released with default export in v10.2.3

[2019-05-27 14:20] yeojz commented on #166
can't see anything wrong by eyeballing. will need to test it out.

[2019-05-27 14:21] #156 closed

[2019-05-27 14:21] #155 closed

[2019-05-27 14:21] #151 closed

[2019-05-29 07:24] CarlAmbroselli commented on #149
I just had the same issue. Please note that if you are using crypto-js in your expo app that you will also need to use crypto-js in your backend, until https://github.com/brix/crypto-js/issues/220 is resolved.

[2019-06-05 18:24] pavles6 opened #167 "Google authenticator token won't match"
I cannot realize what could be problem. I have read docs couple of times but it still throws false from authenticator.verify()

// foundUser is fetched user from DB

Token provider func:
[code]

Token validator:
[code]
    };

[2019-07-18 18:32] UziTech commented on #166
It doesn't look like [authenticator](https://github.com/yeojz/otplib/blob/master/packages/otplib-authenticator/Authenticator.js) has a `verify` method.

You could use `authenticator.check(token, secret)` instead.

[2019-07-18 18:35] UziTech commented on #166
nvm it extend TOTP which does have a `verify` method

[2019-07-18 22:02] UziTech commented on #166
I am having the same issue. the code that google authenticator gives me is different than `authenticator.generate(secret)`

[2019-07-19 01:21] UziTech commented on #166
I got it working when i removed the `algorithm` option

[code]
changed to
[code]

is there a reason 'sha512' shouldn't work?

[2019-07-24 10:12] yeojz commented on #166
@UziTech A guess might be the way the secret is being padded.
https://github.com/yeojz/otplib/blob/master/packages/otplib-core/totpSecret.js

[2019-07-24 12:57] yeojz commented on #166
was google authenticator also set to use sha512?

[2019-07-24 13:08] UziTech commented on #166
I don't think it was. I didn't know how to change it

[2019-07-24 14:46] imetallica opened #178 "Support for expo.io"
Expo now supports both [random](https://docs.expo.io/versions/v33.0.0/sdk/random/) and [crypto](https://docs.expo.io/versions/v33.0.0/sdk/crypto/) modules, making possible a native integration with the platform.

[2019-07-25 08:37] yeojz commented on #166
@UziTech looks like Google Authenticator doesn't support other algorithms except sha1
https://github.com/google/google-authenticator/wiki/Key-Uri-Format#algorithm

[2019-07-25 13:13] UziTech commented on #166
It looks like the keyuri for the authenticator also doesn't include that parameter for other authenticator apps.

https://github.com/yeojz/otplib/blob/536322ed4248eea77e98454b7065a896ff8b28fa/packages/otplib-authenticator/keyuri.js#L1

[2019-07-25 13:24] UziTech commented on #167
What are the options you pass to `otplib.authenticator.options`?

It could be an issue with the keyuri not including all of the parameters https://github.com/yeojz/otplib/issues/166#issuecomment-515037694

[2019-08-16 06:52] YouthLin opened #181 "How to generate next token?"
Hi,
The 'window ' option can make the next token valid if it's set to 1(or greater),
So how to generate the next token?
I use this lib to generate current token, and send it to another service to check if valid.
But every token can only use once in that service, and on that service the 'window' is 2,
so I want to generate the next token when I use current token twice.
It seems the 'epoch' option i

[2019-08-16 10:01] YouthLin commented on #181
[code]

[2019-08-17 16:27] yeojz commented on #181
hi @YouthLin,

There is a better way of doing the above.

[code]

[2019-08-19 00:47] #181 closed

[2019-08-19 02:10] YouthLin commented on #181
@yeojz Thank you so much~ I'm new to JS

[2019-08-25 14:22] #159 closed

[2019-08-25 14:27] yeojz commented on #167
- As mentioned above, if you have set your algorithms to anything other than SHA1, it is not going to work with Google Authenticator.

- I'm assuming you are using v11? If not try the latest stable or beta versions.
  - `npm install otplib`
  - `npm install otplib@next`

Do reopen this issue if you are still encountering problems. Thanks

[2019-08-25 14:27] #167 closed

[2019-08-25 14:34] yeojz commented on #166
@Julien-Broyard Hi! did you get it to working in the end?

[2019-08-25 14:38] yeojz commented on #178
@imetallica, @shauntrennery
I looked at the expo modules as part of the library refactor.
There are 2 issues at the moment:

1. While `random` is fine, the `crypto` module doesn't seem to support hmac generation, which is what is needed for OTP.
1. There isn't a simply way for me to add tests for it outside of the expo ecosystem.

I might be missing something since I ain't familiar with expo.io as

[2019-09-05 00:39] imetallica commented on #178
Sorry for the delay, I got stuck at working on something else.

Yeah, maybe the lack of `hmac` support is a huge blocker for the implementation. Not sure what should we do in this case.

[2019-09-08 04:52] yeojz commented on #178
Looks like dependency on external libraries like `crypto-js` will still have to proceed until native support comes.

Just need to keep an eye on it.

[2019-11-08 20:23] RafaPolit commented on #159
This error has somehow been ported to V11.0.1?

I am having the same issue but importing the "* as " works.

Thanks.

[2019-11-10 13:48] yeojz commented on #159
@RafaPolit It isn't an error.
It was intended for v11 to shift to `import *` but was erroneously released as part of v10.

[2019-11-10 14:36] RafaPolit commented on #159
Thanks for the quick answer!

I guess then one final question: do I need to manually add Crypto if using the asterisk procedure as described by on the “individual libraries import” section?

At any rate, the v11 readme should then probably reflect this “import *“ change?

Thanks again for the library and the quick reply.

[2019-11-11 09:35] yeojz commented on #159
@RafaPolit crypto is part of the default exports.

instead of importing the whole library, you can just do

[code]

[2019-11-29 14:14] George-BC opened #193 "Invalid 2FA Code, only when tests are ran on Mac Mini server."
**Describe the bug**
I use this library for 2FA in my automated tests.  The application is stored on our own server (Mac Mini) and uses BrowserStack to run the tests, the 2FA code is always invalid.

**Expected behavior**
2FA code  to be valid. If I run the them locally or on the cloud via my machine, 2FA always works.

**Additional context**
I understand this is a very niche issue. A point in the

[2019-12-01 17:01] yeojz commented on #193
@George-BC
Just getting the usual first culprit out of the way:
Is the clock on the mac mini and browserstack showing correct time?
Since it is time based, the generated code will differ.

[2019-12-02 13:59] George-BC commented on #193
@yeojz I will look into this and get back to you in next day or so, thanks!

[2019-12-05 13:26] George-BC commented on #193
@yeojz The Mac Mini was 3 minutes behind, changing it fixed the issue. Thanks for the help!

[2019-12-05 13:26] #193 closed

[2019-12-18 07:19] inakarune opened #194 "how do I get 16 secret key?"
hello.
I wonder how to get secret key.
I saw demo secret on your demo site.
I want it as follow.

WNSI7324JNTARPQF

somebody help me!

[2019-12-18 20:29] jamilservicos opened #195 "backup codes"
how can i generate backup codes for google authenticator?

[2019-12-19 01:14] #194 closed

[2019-12-19 13:07] yeojz commented on #195
@jamilservicos
Backup codes are not part of the RFCs and as such, out of scope of the library.

They are actually implemented as a separate layer over the OTP checks and treated as single use passwords that bypasses the OTP.

[2019-12-19 21:36] Exnadella opened #196 "Publish Library for Polymer Components"
Hello Team,

Could you please publish the OTPLIB to support the PWA Polymer Web components, this would enable the community to integrate HOTP using WEB Components.  The Web components are Java Script files, needed to publish them in ES5, ES6, ES Modules to AMD Modules.

https://polymer-library.polymer-project.org/3.0/docs/tools/documentation

**Below are the list of polymer Elements published by P

[2019-12-20 04:00] yeojz commented on #196
@Exnadella what sort of OTP component and behaviour are you looking at?

Most of the OTP logic should be placed server side, while the UI only has an input which is subsequently sent to the server for validation.

[2019-12-20 11:55] Exnadella commented on #196
Thanks for quick response.  We need a component which can be connected to the back end and validate the OTP.
The component should be flexible to integrate or call any where in the code to validate and raise the OTP as required.
A confirm message that OTP is valid.
The component should be flexible and valid for a certain duration of time 0-60 minutes.

[2019-12-28 03:53] yeojz commented on #196
The expected coverage of the component is out of scope and is very UI specific.
As you have mentioned, the code to validate is elsewhere and is not in this component.

It would be better placed for it to be as part of a UI component library separate from this repository.

[2019-12-28 03:55] yeojz commented on #195
**Dev Note:** Consider adding this to the README.

[2019-12-28 03:55] #195 closed

[2019-12-28 03:56] yeojz commented on #166
Closing this due to inactivity.
Feel free to open a new ticket if issue persists.

[2019-12-28 03:56] #166 closed

[2019-12-28 10:58] Exnadella commented on #196
The Web Components published in Polymer are accepted in all Browsers.  If we have the front end component in polymer we should be able to integrate to back end to validate the code via API.  We can support in developing the custom component for front end if required, we don't know about back end functionality.

[2019-12-28 17:38] yeojz commented on #196
@Exnadella I understand what you're proposing and I do agree it is great to have a drop-in component tailored for OTP.

However this repository is more concerned with OTP validation and generation logic. i.e. your API / backend. Thus, having UI components (like input / confirmation messages) is really out-of-scope for this project.

Furthermore, you might not need an entirely new library. Can cons

[2019-12-31 03:10] yeojz opened #199 "Update contributors"
@all-contributors please add @encX for doc

[2020-01-08 13:52] #199 closed

[2020-01-15 07:54] dunghoangpg commented on #194
Did you have solution for it? @inakarune ??

[2020-01-16 21:37] vafada opened #201 "how do I generate 16 character length secret key consistently?"
**Describe the bug**

When generating a `secret` via `const secret = authenticator.generateSecret()`

the length of `secret` varies on every run.

**To Reproduce**
Steps to reproduce the behavior:
1.

[code]

2. Run step 1 multiple times, `secret.length` will be different for every run

**Expected behavior**

I expect the secret generated of have a consistent length of 16

**Details (please provid

[2020-01-17 00:16] vafada commented on #194
same question i have... @inakarune how did you fix it.

Currently calling `generateSecret()` for me returns a random length string for every call

[2020-01-18 15:37] yeojz commented on #201
Thanks for the report. Will look into it.

At a glance, it looks like it is highly likely due to the thirty-two implementation.

[2020-01-23 16:31] yeojz commented on #201
Thanks. Found the area of concern and will be addressed in #202

[2020-01-23 16:52] #196 closed

[2020-01-24 14:10] #201 closed

[2020-02-01 00:52] hornta opened #205 "SyntaxError: The requested module 'otplib' does not provide an export named 'authenticator'"
**Describe the bug**
Taken straight from the README example, when importing totp it gives syntaxerror

**To Reproduce**
Steps to reproduce the behavior:
1. Code `import { totp } from "otplib";` crashes

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Details (please provide any relevant information):**

- otplib version: 12.0.1
- os: win10
- browser:
- node / yarn:

[2020-02-02 03:03] yeojz commented on #205
Hi @hornta !
Thanks for the report.

If you're using experimental flag only without transpiling (eg: babel),  then you'll have to do:

[code]

**Reason:**
Currently, the module is being released as a `commonjs` module for wider platform compatibility (i.e. old node style), and thus `import {something} from pkg` work assuming transpilation is used. (TODO: I'll update the docs to reflect this.)

At

[2020-02-06 15:19] #205 closed

[2020-02-14 01:22] svaraborut commented on #166
Hi, new to this repo, actually I just tested it out today. To be honest i had a realy hard time just trying to figure out how to make it work; what key format are totp and hotp classes supposed to take, why authenticator refers to base32 keys weather other classes not. (I think on that side docs can be improoved). But what is even more hard to understand to me is code like the one quoted abive;
Ac

[2020-02-14 13:30] yeojz commented on #166
hi @svaraborut

Trying to breakdown your queries:

**1. Why authenticator needs Base32**

This is written out in the specification for Authenticator. There is no such requirement in the specifications for TOTP / HOTP.

**2. Why verify needs encoded key for authenticator:**

It is working because both `verify` and `check` depends on `checkDelta` which will decoded the key and it is being overwritte

[2020-02-14 13:34] yeojz opened #207 "TypeScript: verify and check in authenticator does not reflect Base32 key."
**Describe the bug**

authenticator.verify and authenticator.check typings don't reflect the need for Base32 key.

**To Reproduce**
-

**Expected behavior**

.verify / .check should also reflect Base32 encoded state.

**Screenshots**
-

**Details (please provide any relevant information):**

- otplib version: 12.0.1
- os:
- browser:
- node / yarn:
- frameworks (if any):

**Additional context**
-

[2020-02-16 05:24] zohaib-novaturesol opened #208 "Any Example for NodeJS"
Hi
I want to use this lib in my node js project but there is no documentation for node js. The way is described is for typescript and I am not using typescript. When I try to use it according to node, I got error

`const authenticator = require('otplib');`
` const secret = 'KVKFKRCPNZQUYMLXOVYDSQKJKZDTSRLD';`
` const token = authenticator.generate(secret);`

Getting Error:   authenticator.generate

[2020-02-16 05:38] yeojz commented on #208
hi @zohaib-novaturesol

Try the following:

[code]

Examples are still for node.js, and not typescript,  It's written using the `import` syntax of the future javascript standard.

p.s. Do avoid tagging all contributors.

[2020-02-16 05:41] zohaib-novaturesol commented on #208
Thanks...!!
It worked for me.

[2020-02-16 05:41] #208 closed

[2020-02-24 10:00] YouthLin commented on #181
v12.x
[code]

[2020-02-29 06:18] dependabot-preview[bot] opened #238 "Your .dependabot/config.yml contained invalid details"
Dependabot encountered the following error when parsing your `.dependabot/config.yml`:

[code]

Please update the config file to conform with Dependabot's specification using our [docs](https://dependabot.com/docs/config-file/) and [online validator](https://dependabot.com/docs/config-file/validator/).

[2020-02-29 06:21] #238 closed

[2020-03-08 01:08] ar-maged opened #245 "How to use otplib with Expo?"
**Describe the bug**
Getting incorrect TOTPs when using `@otplib/core` & `@otplib/plugin-crypto-js` with Expo.

**To Reproduce**
Steps to reproduce the behavior:
1. Clone this [example](https://github.com/ar-maged/otplib-expo-example)
2. `yarn`
3. `yarn web` or `yarn ios` or `yarn android`

**Expected behavior**
Getting correct TOTPs in accordance with https://otplib.yeojz.dev or https://rootproje

[2020-03-08 01:10] ar-maged commented on #245
@yeojz And thanks a bunch for your time and effort working on this outstanding library! 👏

[2020-03-08 04:18] yeojz commented on #245
hi @ar-maged

Thanks.

Looked at the code. The reason why it is not matching is because you are using totp instead of the authenticator methods. The difference between the two is that the keys used in authenticator are base32 encoded.

i.e. if you want to use totpToken, then you'll have to decode first  `secret -> base32decode(secret) -> totpToken`

Modification:

[code]

[code]

alternatively, yo

[2020-03-08 11:28] ar-maged commented on #245
Outstanding! Thank you very much for the thorough explanation 👌

[2020-03-08 11:28] #245 closed

[2020-03-14 17:01] stephdl opened #255 "Cannot verify token with microsoft W10 OS (EDGE & Firefox)"
**Describe the bug**

Hi
Not sure it is  bug, or I am the bug, I can verify a 6 digit pin on Linux with chrome and firefox, on apple with safari but it fails when a user uses W10 with EDGE (80) and Firefox (74)

**To Reproduce**
Steps to reproduce the behavior:

install the last version in my webpack

`npm install otplib --save`

import the library in my web page

`import { authenticator } from 'o

[2020-03-16 19:54] stephdl commented on #255
Sorry for the noise, I cannot reproduce the issue, let's close it.

[2020-03-16 19:54] #255 closed

[2020-03-27 04:40] pickfire opened #268 "otplib 12 broke angular karma tests"
**Describe the bug**
A clear and concise description of what the bug is.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run karma tests in angular `ng t --browsers Firefox`

**Expected behavior**
A clear and concise description of what you expected to happen.

Does not break any tests.

**Screenshots**
If applicable, add screenshots to help explain your problem.

![2020-03-27-123731_

[2020-03-28 15:53] yeojz commented on #268
Hi @pickfire

That is expected as you're using the browser version.
v12 has marked buffer as an external module. So you'll need to import buffer separately.

You can refer to: https://github.com/yeojz/otplib#in-browser

[2020-03-28 16:20] pickfire commented on #268
@yeojz Is there a way to do that without:
[code]

[2020-03-28 16:53] yeojz commented on #268
you probably can import buffer within your code:
i.e.

[code]

or use the node version

[code]

[2020-03-29 02:30] pickfire commented on #268
@yeojz Do you mean do that inside the test?

[code]
Isn't that how to do it in version 11? Version 11 works this way using `otplib-browser` but version 12 doesn't for tests.

[2020-03-29 16:33] yeojz commented on #268
No I meant when changing to v12, consider using the main entry and relay on your own bundler to package the module.

Ultimately, the difference between v11 and v12 is that it doesn't bundle in Buffer, and you'll have to ensure your build provides it.

[2020-03-30 03:20] pickfire commented on #268
Ah, but why does it depends on Buffer? Is it a requirement?

[2020-04-15 10:45] lfarrel6 opened #289 "Receiving a 404 when trying to access the API documentation"
**Describe the bug**
Receiving a 404 when attempting to access [the API documentation](https://otplib.yeojz.dev/api)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [the API docs](https://otplib.yeojz.dev/api)

**Expected behavior**
Visible API documentation

**Screenshots**
![404 screen](https://user-images.githubusercontent.com/17024284/79328780-82dcce80-7f0e-11ea-9905-d5c81dfa8779.p

[2020-05-07 19:15] SilentCicero opened #304 "[feature] use a users time based token to derive secret key"
I'd like to use this library kind of in reverse.

Could this library be used such that the secret token is somehow derivable given a users time based token?

I know this seems odd, but it would have some really interesting properties cryptographically, especially when regenerating a key from the app.

[2020-05-11 21:18] Signus commented on #304
Given the use of HMAC in both RFC 4226 and 6238, you're really talking about the reversal of a hash function based on a given token and time to derive the secret token. This isn't a feature ask, it's asking to break the foundations of H/TOTP and what makes those algorithms widely usable and trusted for 2FA.

[2020-05-11 23:08] SilentCicero commented on #304
Yeah after reading closer into the scheme and what HMAC was I realized the
tokens are just an alignment check between a shared key.

I didn’t do enough reading, apologies, we can close this.

On Mon, May 11, 2020 at 5:18 PM Matthew Sexton <notifications@github.com>
wrote:

[2020-05-13 08:37] rashmi29 opened #315 "6 digit authenticator token is not working with Microsoft authenticator"
**Describe the bug**
6 digit number generated using authenticator.generate() is not working with microsoft authenticator. After entering this token, it is showing "You didn't enter the expected verification code.Please try again."

.check and .verify is returning true but 6 digit code is not working while login.

**Expected behavior**
Six digit code should work and I should be able to my applicati

[2020-05-20 11:31] #304 closed

[2020-05-29 16:57] liyihan940121 opened #329 "Edge SCRIPT1028: Expected identifier, string or number"
**Describe the bug**
The react project uses the 'authenticator' to generate code errors in the Edge browser;SCRIPT1028: Expected identifier, string or number

**To Reproduce**
Steps to reproduce the behavior:
1.Open the project introducing this otplib at Edge
2.Page white screen
3.error SCRIPT1028: Expected identifier, string or number

**Expected behavior**
A clear and concise description of what

[2020-06-02 20:58] #289 closed

[2020-06-09 11:43] Chris927 commented on #315
It worked for me, see [my gist](https://gist.github.com/Chris927/7d2532360b409e7ec9e5b6fa6414b970).

Hope this helps.

[2020-06-15 13:05] SiestaMadokaist opened #343 "why is hotp not working with the token provided from google authenticator."
**Describe the bug**
A clear and concise description of what the bug is.
I tried to verify an hotp from my google auth, but it never success.

I generated my qrcode using this website: https://stefansundin.github.io/2fa-qr/
and my otp-uri is:
`otpauth://hotp/admin?secret=ABCDEFGHIJKLMNOP&issuer=me&counter=2`;

the otp token I get from google auth is: `281014`
but it doesn't get verified

[code]

{

[2020-06-27 13:35] smithydll commented on #178
I have working in react-native-web with expo and crypto-js. However when I try to put on iOS or Android I've run into an issue where `Buffer` is a Node primitive and is not part of React Native. Either Buffer needs a shim for React Native or a refactor.

[2020-07-02 13:24] xenoterracide opened #361 "@otplib/preset-default-async@12.0.1 doesn't install @otplib/core"
@otplib/preset-default-async@12.0.1 doesn't install @otplib/core but the documentation says it should
[code]

[2020-07-05 12:36] tsndr opened #362 "authenticator and totp giving different results"
**Describe the bug**
Authenticator and TOTP give different results (Authenticator is correct, TOTP is wrong)

### Authenticator
Code:
[code]

Options:
[code]
Result: `649517`

### TOTP
Code:
[code]

Options:
[code]
Result: `821648`

- otplib version: 12.0.1
- os: macOS 11.0 Big Sur
- browser: Google Chrome 83
- node: 14.4
- frameworks (if any): express

[2020-07-06 13:45] PJijin commented on #289
Hey, have you got the docs page?

[2020-07-10 11:27] yeojz commented on #178
Hi @smithydll  Which package are you using at the moment? it it the browser version?

[2020-07-10 11:32] yeojz commented on #329
Acknowledged.
Are you able to tell if any script fail to load?

[2020-07-10 11:34] yeojz commented on #268
The initial thought was that the package will probably be used in a bundler. Packaging buffer would mean the end-users might bundle buffer twice, increasing the final output size.

After much thought, I acknowledge that the package should be plug and play. Will include that in v13.

[2020-07-10 11:35] yeojz commented on #315
Thanks @Chris927
Are you still encountering the issue?

[2020-07-10 11:37] yeojz commented on #343
acknowledged.

[2020-07-10 11:39] yeojz commented on #362
@tsndr  are you using the exact same secret for both?

Authenticator requires the secret to be decoded first before it's used.
TOTP takes the secret AS-IS

[2020-07-10 11:41] yeojz commented on #361
@xenoterracide yes. it's using core-async instead of core
Noted on the docs.

[2020-07-10 12:08] tsndr commented on #362
So do I have to encode my secret to be able to use it with TOTP or is it possible to set an option to tell it that the given secret is decoded? Because that's what's in my database.

[2020-07-10 12:34] Chris927 commented on #315
@yeojz  As mentioned above, if I use the approach in my gist, it works fine. @rashmi29, can you comment?

[2020-07-11 06:28] yeojz commented on #362
If you want to use totp on the backend, while using an authenticator compatible app to generate your tokens, then just
encode the secret before passing to the app. On the backend, you retain and use the decoded secret with totp.

[2020-07-11 13:55] rashmi29 commented on #315
This can be closed. Thanks @Chris927  @yeojz .

[2020-07-11 13:55] #315 closed

[2020-07-14 04:14] gargbhupinder opened #376 "authenticator always return invalid token when Window is set to 0"
**Describe the bug**
**window** option value is set to 0. Now when I try to verify otp using **totp.check** function, it always returns false.

when I changed value of **window** from 0 -> 1. Everything starts working.

**To Reproduce**
Steps to reproduce the behavior:
1. Set value of window option (TOTP Options) to 0.
2. Restart your application. (I removed all node modules and re-installed them)

[2020-07-14 08:47] tsndr commented on #362
Encode to what?

[2020-07-16 16:32] yeojz commented on #376
@gargbhupinder by default, each OTP is only valid for 1 minute. Did you set the step option to allow for 5 minute intervals?

[2020-07-19 05:26] gargbhupinder commented on #376
@yeojz Thanks for getting back.

Yes, I set it's value to 300.

[2020-07-24 02:55] gargbhupinder commented on #376
@yeojz Can you please help.

I want an OTP valid for 5 mins.
If I resend OTP before 5 mins, only the latest OTP should be valid.

Can you please tell me the value for STEP and WINDOW options for the above scenario?

[2020-07-29 18:45] intensite commented on #289
As of 2020-07-29 the problem is still there

![image](https://user-images.githubusercontent.com/7981384/88840184-17132e80-d1aa-11ea-9f8b-3d12d54744bc.png)

[2020-09-10 16:54] tsndr commented on #362
Ok, the secret I have is in Base32 but no matter what I do TOTP is always giving me a wrong token.

[2020-09-10 17:00] tsndr commented on #362
Ok, this is my secret `H2OPLFINLGZR2ZWJ`, why doesn't I work with TOTP? What do I have to do to get it to work?

[2020-09-10 17:27] #362 closed

[2020-09-10 23:55] grahamb opened #425 "API docs are broken"
The API docs (https://otplib.yeojz.dev/api) are broken. It currently 404's.

[2020-09-17 11:21] crazyLjuba commented on #329
The reason why this is happening is because the transpiler (e.g. babel) isn't checking node_modules folder, and the code is  failing because of the spread operator.
`node_modules/@otplib/core/index.js `

`
class OTP {`
`  constructor(defaultOptions = {}) {`
`    this._defaultOptions = Object.freeze({ ...defaultOptions // <--- here`
`    });`
`    this._options = Object.freeze({});`
`  }
`
So if yo

[2020-09-21 11:55] maximgeerinck commented on #166
Just want to leave this here for reference:

Don't only check the phone time, also make sure the time of the computer where the backend is running on is correct!

Reason and context: I'm running on WSL2, but with the laptop going in sleep and migrating the VM, the time got out of sync. TO fix this i ran `sudo hwclock -s`. Hope this helps others

[2020-09-29 14:44] cyrilfr opened #438 "Cannot build electronjs app with otplib"
I want to build an electronjs app in Angular 8 with otplib. When I want to build the app, I get an error:

[code]

Electronjs version: 7.2.3
otplib version: ^12.0.1
TypeScript version: ~3.5.3

[2020-09-30 14:18] cyrilfr commented on #438
I've been able to build with this setting in `tsconfig.json`:

[code]

[2020-10-01 06:56] z3st1k opened #439 "totp or authenticator"
Hi!
Could you give short explain, why codes, generated by `otplib.totp` doesn't match with any test 2FA application (chrome extensions, Google Authenticator, other test sites)?
It's only work when use `otplib.authenticator`

[2020-10-12 17:45] TranBaVinhSon commented on #439
I dont know why but generated code by both `otplib.authenticator` and `otplib.totp` doesn't match with code from 2FA application

[2020-10-12 23:51] ChrisKader opened #443 "Support for RSA"
https://github.com/cernekee/stoken

[2020-10-13 05:44] TranBaVinhSon commented on #315
@rashmi29 How can you solve your problem ?

[2020-10-21 15:32] z3st1k commented on #439
Hmm. Maybe problem in time difference between your application and another 2FA app.
`otplib.authenticator` works for me. What 2FA application did you used? You can try to paste your secret to Google Authenticator (mobile app) and compare. It should works.

[2020-10-26 12:05] Oliyy commented on #178
![image](https://user-images.githubusercontent.com/13434616/97170221-31e24880-1783-11eb-8389-3927f6ec3454.png)

Using @otplib/core returns missing variable Buffer when trying to build on iOS and Android using expo, I think this is related to what @smithydll said @yeojz

[code]

[2020-11-14 09:58] pyramation opened #477 "where in the RFC is secret's padding"
Hello. Thanks for this library!

https://github.com/yeojz/otplib/blob/dab816b2faf6657c2e2d7e8e91391511c743a07c/packages/otplib-core/src/totp.ts#L92-L109

Referencing these lines, it looks like you're copying the secret's buffer data until it fills the required size. Maybe I'm missing something from the totp or hotp RFC where I can read some documentation where this particular part of the code is b

[2020-11-27 08:26] DanielRuf opened #485 "API documentation not working"
**Describe the bug**
Currently the API documentation does not work.

https://otplib.yeojz.dev/

**To Reproduce**
Steps to reproduce the behavior:
1. go to https://otplib.yeojz.dev/
2. check if anything can be read

**Expected behavior**
We should see the API documentation.

**Screenshots**
![grafik](https://user-images.githubusercontent.com/827205/100427315-90585a80-3092-11eb-9fb0-65ef57a8c2de.png

[2020-12-02 16:51] james2mid commented on #425
Waiting on PR #409

[2020-12-13 20:03] VictorXLR opened #499 "Issue with Authenticator check function"
**Describe the bug**
Authenticator check function returns false when verifying with self

**To Reproduce**
Steps to reproduce the behavior:
1. Run the attached script, this is a quick proof of concept i wrote to showcase this issue
[code]

**Expected behavior**
Expected authenticator.check function to return true since it was verifying the token against itself, it returns false in this case and he

[2020-12-14 02:55] #499 closed

[2020-12-30 14:23] Deena1999 opened #511 "Regarding increase of step time"
I am using TOTP from otplib package.....I require the increase in step from 30 seconds to 10 minutes....since I am sending the otp through mail for the users they need some time to check their mail and enter the otp...Is there a way to increase the step value.

[2021-02-07 04:08] kuasha420 commented on #511
[code]

[2021-02-10 08:59] #485 closed

[2021-02-10 09:26] WaqqarSuleman opened #536 "How to stop OTP Generation starting with "Zero"?"
Hi,

I have a requirement where I need to stop OTP Generation starting with "Zero"?
Please tell me how to achieve it.

Thanks

[2021-02-10 23:08] digitalml opened #537 "New totp every time?"
I'm trying to create a time based one time password in node that is new every single time generate is called... (secret is the same every time from env file)... I need the verify window to be 5 mins...

The problem i am having is that I get duplicates. I assume this is because step = 30 by default and only a new totp will be generated every 30 seconds?  I tried to set it to 0, that didn't work. I

[2021-02-14 12:33] osmenia opened #538 "authenticator.generate is not a function"
Hi team,

can you pls tell me why i have error:
[code]
Error:
[code]
Versions:
"otplib": "^12.0.1",
nodejs: v12.14.1

[2021-02-15 18:01] digitalml commented on #538
you must do something like:

const otplib = require("otplib");
const token = otplib.totp.generate(secret);

[2021-02-20 22:05] #538 closed

[2021-02-20 22:09] osmenia opened #547 "Await & TypeError: Cannot read property 'generate' of undefined"
Hi Team,

This is code, goal is to use await.

[code]

I am getting error:
TypeError: Cannot read property 'generate' of undefined

tnx for your help :)

[2021-02-22 12:04] stephane-r opened #548 "verify method work with GA but not with other App"
**Describe the bug**
I try to add otplib module with new side project. For this, i start to generate new user key :

[code]

The qrcode is correctly generated and recognized by Google Auth and FreeOTP. But, the verify method return true with correct token using Google Auth, but false (always) for other Provider (for example FreeOTP app) :

`const isValid = totp.verify({ secret: "USER_TOKEN", token

[2021-02-22 17:51] #548 closed

[2021-02-24 04:50] ronvince opened #555 "Too many OTP's got verified"
While using otplib, I have noticed that for a secret key there are so many different OTP's that are valid at given point of time

Steps to reproduce the behavior:
1. config options
    step=1
   window=300
   digits=4
2. This will generate 1 otp for a secret key per second, for 300s window size there will be at most 300 otps valid.
3. But when I  tried 550-600 are passed as valid
4. By increasing

[2021-03-14 14:34] suruaku commented on #555
Isn't that correct?
From [documentation](https://github.com/yeojz/otplib#totp-options) window is "Tokens in the previous and future x-windows that should be considered valid. "
So if you have window with value 300 it should accept 300 previous otp's.

[2021-03-14 14:41] suruaku commented on #537
I think what you are trying to achieve is against time based one time passwords. Secret should be UNIQUE per USER. So same secret will generate same password everytime during its step(time in seconds). You can get 5 minutes by multiplying 60seconds by  5, so have step: 300, this means that generated password will be valid for 5 minutes and during that 5 minutes its secret will generate the same pa

[2021-03-31 01:02] Anoupz opened #580 "Getting passcode doesn't match our records try again."
**Describe the bug**
I am using the below code to generate the token.. but I get passcode doesn't match error.

[code]

But the same works fine with pyotp lib. Any ideas??

[code]

- otplib version: 12.0.1
- os: Mac Os 10.15.7
- browser: Chrome/ Cypress
- node / yarn: 12.16.1
- frameworks (if any): Cypress

Appreciate all the help.

Regards,
Anoop P N

[2021-03-31 18:53] #580 closed

[2021-04-05 15:18] pranshuchittora commented on #10
@aldocano29 can you pls share the steps for the same

[2021-04-05 15:18] pranshuchittora commented on #149
@matthewsuan how to use this -> https://github.com/yeojz/otplib/tree/feat-cryptojs-sample/packages/otplib-cryptojs

[2021-04-09 13:16] smithydll commented on #178
These are my React Native imports if that helps.

[code]

I then try to generate a one time code from a token.

[code]

Then get the issue reported by @Oliyy

I have now resolved my issue by importing feross/buffer.

`npm i buffer`

then in app.tsx

[code]

see https://github.com/feross/buffer/issues/206

[2021-04-16 00:08] mandeepm91 commented on #537
@digitalml Did you ever find a solution for this? I am trying this package in my E2E tests and if I require login in my tests, some of my tests fail because same token is being re-used which gives error "token expired"

[2021-05-19 14:45] indumathymk opened #607 "How to Validate Phone Number"
Is there is an option to validate given phone number is Mobile or Landline?

[2021-05-22 10:02] tundak opened #609 "Error: Can't resolve 'crypto' in '@otplib/plugin-crypto'"
Getting issue with Angular project while using it.

`./node_modules/@otplib/plugin-crypto/index.js:14:29-46 - Error: Module not found: Error: Can't resolve 'crypto' in '/project/node_modules/@otplib/plugin-crypto'`

Angular Info:
[code]

[2021-05-24 16:47] ryall opened #610 "Allow a timestamp to be passed to TOTP to filter out any possible options before that point"
**Is your feature request related to a problem? Please describe.**
Currently, if a man-in-the-middle attack were to happen, the attacker could reuse the same token as the end-user, reducing the security benefit of OTP.

**Describe the solution you'd like**
To mitigate this problem, I'd like to be able to pass a `fromTimestamp` property when checking TOTP codes, so that all codes before the `fromTi

[2021-06-16 08:47] Report-OSS-Security opened #626 "Issues related with security founded"
Dear yeojz.

We are Security Team at Samsung Research. We are interested in the security of open-source projects.
We'd like to inform you of security-related issues in your repository but we couldn't find a proper way to reach you.

Please follow the below steps.
1. Please send this repository url to report.oss.sec@gmail.com.
2. Leave a comment 'Confirmed' on this issue. The comment should be writ

[2021-07-03 16:18] sayerrrr commented on #607
No, you need to use a service like Twilio verify or something similiar.

[2021-07-09 02:03] reachbharathan commented on #607
This cannot be verified by this repo, maybe it need to be validated via paid service.

[2021-07-28 08:46] f1ght4fun commented on #609
Any feedback on this!?

[2021-07-30 16:01] rahul-gharat opened #649 "Client and Server generating different TOTP"
TOTP generated at client and server for the same secret at the same time is different.
(OTP not getting validated).

I tried to play with step and window parameters but didnt worked.

Client Machine has IST timezone and the server has UTC.

I tried to check epoc time at both machines, it is same. (UTC Timestamp is same)

Can someone please help me with this? maybe i am missing something.

Thanks i

[2021-07-31 23:54] randallmeeker commented on #609
Not to pile on, getting this too w/ my angular setup. I'm on angular 11 though.

[2021-08-13 16:58] rosshettel opened #655 "TOTP check does not work on distributed systems"
**Describe the bug**
Testing OTP login locally with one server works correctly, but when deployed to AWS with multiple containers behind a load balancer, `totp.check()` takes multiple tries to pass. Upon investigation, it appears that only the original container that generated the OTP successfully passes the `totp.check()`.  I'm storing the totp secret key in the database, so all servers have acce

[2021-09-09 21:06] grahamb commented on #425
Bumping, any update on docs?

[2021-10-29 03:43] jprumekso opened #658 "Can we use Bcript.hash() to generate secret?"
I use the user's hashed password generated by Bcript.hash(password, 10) as totp secret. The thing is totp.check() isn't guaranteed to return true even if the token is right. Is that Bcrypt hashed secret the reason?

[2021-12-06 11:49] islamhanafi94 commented on #537
I think @suruaku  made a good point here.
I tried to use it as suggested and works fine
thanks

[2022-01-16 18:08] capaj opened #660 "TSC compiles with "target": "es2017", could this be changed to es6 ?"
**Is your feature request related to a problem? Please describe.**
yes. When this is used in webpack without tranpilation it breaks.

**Describe the solution you'd like**
entry point should be es6 at most

**Describe alternatives you've considered**
transpiling in my own build pipeline

**Additional context**
best practice is to have two bundles-
main: CJS es5
module: ESM es6

By having the main a

[2022-01-21 20:49] NathanLeading commented on #609
Any progress on this? Trying to use it in a React project. Looked promising!
[code]

[2022-01-21 20:57] NathanLeading commented on #609
Downgrading `react-scripts` to 4.0.3 resolved my issue.

[2022-03-01 16:27] andres-mestra commented on #609
This may help
https://stackoverflow.com/questions/64557638/how-to-polyfill-node-core-modules-in-webpack-5

[2022-03-10 13:16] MrRainesE commented on #609
@andres-mestra  How can i edit this configuration? where do i find the webpack config?

[2022-05-17 16:34] nflaig opened #671 "Default secret length should be changed to 20 bytes from 10 bytes"
Currently, the secret generation using the [default value of 10 bytes](https://github.com/yeojz/otplib/blob/master/packages/otplib-core/src/authenticator.ts#L265) is not compliant with the requirements mentioned in [RFC 4226 section 4](https://datatracker.ietf.org/doc/html/rfc4226#section-4).

   the shared secret MUST be at least 128 bits.  This document
   RECOMMENDs a shared secret length of 16

[2022-07-08 08:53] ankursachdeva11 commented on #555
I have tried window: 1 with step: 30.
when I enter the code, it fails when a new code show in the app.
It should accept one past code.
Am I missing something?

[2022-07-13 14:44] andr00w opened #674 "Cant set algorithm in TypeScript"
**Describe the bug**
It does not possible to set the algorithm that is typed by the enum `HashAlgorithms`:

- When using a valid string, e.g. 'SHA1' it says "TS2322: Type '"SHA1"' is not assignable to type 'HashAlgorithms'."
- When using `HashAlgorithms` the import throws an error: "Cannot find module '@otplib/core/utils' from 'myservice.ts"

**To Reproduce**
[code]

OR:

[code]

[2022-07-27 13:30] disconnect3d commented on #671
FWIW this issue or vulnerability was introduced in 12.0.0. Old versions of otplib used 20 bytes for OTP secret generation.

See:
* https://github.com/yeojz/otplib/blob/v11.0.1/packages/otplib-authenticator/Authenticator.js#L82-L96

Vs:
* https://github.com/yeojz/otplib/blob/v12.0.0/packages/otplib-core/src/authenticator.ts#L262-L267

Why was this changed at all?

[2022-07-27 14:38] D0han commented on #671
This changed exactly in https://github.com/yeojz/otplib/commit/b088efe9da45e102e59b5cd2c0df5bddf80c5a92
@yeojz seems that you committed that change, can you shed some light here?

[2022-07-29 09:30] disconnect3d commented on #671
For what is worth, the old version of the lib also has a quirk which is a bug I think.

If you look over how its secret key is generated:
https://github.com/yeojz/otplib/blob/dd7dc73ee08032df0196d8774b55af210b27cab5/packages/otplib-utils/secretKey.js#L10-L23

It turns out that the default 20 bytes of entropy are only 15 bytes of entropy in practice, because of the `.slice(0, length)` operation.

T

[2022-07-29 11:43] disconnect3d opened #677 "Otplib before 12.0.0 defaults to 15 bytes of entropy for OTP secret key generation which is too low"
I have described this issue already in https://github.com/yeojz/otplib/issues/671#issuecomment-1199068530 but I think it should have a separate bug report here.

The old versions of otplib, before 12.0.0, have a bug where in practice they default to 15 and not 20 bytes of entropy as the default argument of the `generateSecret(length)` function may suggest. Generally, the function lowers down/trunc

[2022-08-24 21:19] rollerman111 opened #678 "totp timer not reseting upon creating a new token ?"
Each user has its own secret stored in a database. When a user logs in for 2FA I run `totp.generate(secret);` on the user's secret. I set step to 5 minutes

[code]

How do I ensure everytime I generate a token it will start from 0 seconds? Currently its randomly `[0, 300]` depending on the time I generate. Is totp not what I want to use ?

Edit: A word

[2022-08-25 00:54] #678 closed

[2022-08-26 13:23] RustyF opened #679 "Version 12.x depends on TypeScript 3 ?"
I spent a while trying to work out why an Angular 5 app couldn't use 12.x but it was due to the package using a recent TypeScript (4?) and generating d.ts files only compatible with TypeScript 3+ (Angular 5 only uses 2.x). I used 11.x in the end but I wanted to make this dependency explicit for others.

I was going to PR a change to add `"typescript": ">=3"` to the dependencies but I'm sure not if

[2022-09-21 09:29] amustaque97 opened #680 "[Question]: What is the current state of the project?"
Hi @yeojz , thank you for building such a great package. I'm curious to know what is the current state of the project.

I don't see any active development going on and there are a lot of issues open.  Moreover, I don't see any contribution in the graph https://github.com/yeojz/otplib/graphs/contributors?from=2021-03-04&to=2022-09-21&type=c

Looking forward to hearing from you.
Thank you

[2022-09-22 09:33] gozetfiliz commented on #674
It's not exactly the right method but you can use it like this ->

`
authenticator.options = {
  algorithm: 'sha256' as any,
}`

[2022-09-23 12:17] Eazash commented on #674
@andr00w A working solution for me is to import from `@otplib/core`

[2022-10-03 05:31] mishritha-battiyanda commented on #538
Hi, I would like to know how to generate the "secret" here, please.

[2022-10-21 04:59] shahzadvultara commented on #538
@mishritha-battiyanda you can generate secret by using this function
const otplib = require("otplib");
let secret = otplib.authenticator.generateSecret();